<p>User works!</p>
<form [formGroup]="formUser">
  <div class="form-group">
    <label for="nome">Nome</label>
    <input type="text" name="nome" id="idUsuario" formControlName="nome">
  </div>
  <div class="form-group">
    <label for="nome">Sobrenome</label>
    <input type="text" name="sobrenome" id="idSobrenome" formControlName="sobrenome">
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input type="text" name="email" id="idEmail" formControlName="email">
  </div>
  <div class="form-group">
    <label for="telefone">Telefone</label>
    <input type="text" name="telefone" id="idTelefone" formControlName="telefone">
  </div>
</form>

<pre>
  {{ formUser.value | json }}
</pre>